@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap);

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menuh {
    list-style: none;
    padding: 0;
    background-color: #525252;
    justify-content: space-between;
}

.nome {
    margin-left: 20px;
    min-height: 40px;
    margin-top: 30px;
}

.menuh li {
    display: flex;
    flex-direction: row;
}

.menuh li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    transition: background .6s;
}

.menuh li a:hover {
    background-color: black;
}

.menuh {
    list-style: none;
    padding: 0;
    background-color: #333333;
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    background-color: #333333;
    color: white;
    list-style: none;
    text-decoration: none;
    transition: background .6s;
    align-items: center;
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e6ddbc;
}

.menu {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: none;
}

.hamburguer {
    position: relative;
    display: block;
    background: rgb(255, 255, 255);
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.menu-hamburguer {
    display: flex;
    flex-direction: column;
}

.menu span {

    display: flex;
    justify-content: flex-end;
}

.menu {}


@media (max-width:900px) {
    .menuh a {}

    .menuh {
        flex-direction: column;
        display: none;
    }

    header label {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}


.menu {

    top: 10px;
    right: 10px;
    display: block;
}

@media (min-width: 901px) {
    .menu {
        display: none;
    }
}

input:checked~label .menuh {
    display: block;
    height: 305px;
}

.eu {
    border-radius: 600px;
}

.corpo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    min-height: 29em;
}

.pres {
    width: 38%;
    font-size: 115%;
    text-align: center;
}

.geral {
    background-color: #f5e0d3;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.caixas {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    display: flex;
    gap: 20px
}

.caixas img {
    border-radius: 25px;
    height: 190px;
    width: 110px;
}

.hobbies h3 {
    text-align: end;
}

.caixa:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.caixa {
    transition: 0.5s
}

.icones {
    font-size: 49px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer {
    padding-bottom: 5px;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    height: 4, 5em;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    color: white;
    display: flex;
    flex-wrap: wrap-reverse;
    padding-left: 30px;
    padding-right: 30px;
}

.pres h2 {
    color: goldenrod;
    margin-bottom: 20px;
}

.button {
    font-style: none;
    background-color: #525252;
    padding: 1em;
    border-radius: 15px;
}

.button a {
    text-decoration: none;
}

.footer a {
    color: white;
}

@media (max-width:900px) {
    .button {
        margin: 0px 50px;
    }

    header {
        align-items: flex-start;

    }

    .pres {
        margin-bottom: 30px;
    }

    .eu {
        height: 150px;
        width: 150px;
        margin-top: 30px;
    }

    .corpo1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .footer {
        justify-content: center;
    }

    .icones {
        gap: 50px;
    }
}

@media (min-width:901px) {
    .pres {}

    .eu {
        height: 325px;
        width: 325px;
    }

    .corpo1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
}